<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head th:fragment="common-header">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />   

    <title>PT's Bookstore</title>	
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="icon" href="/images/apple-touch-icon.png" />  
  </head>
  <body>
	<div th:fragment="navbar">
		<div class="page-top"></div>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
			<a class="navbar-brand" href="#">PT's Bookstore</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarsExampleDefault"
				aria-controls="navbarsExampleDefault" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
					<li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a>
					</li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="dropdown01"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Books</a>
						<div class="dropdown-menu" aria-labelledby="dropdown01">
							<a class="dropdown-item" href="#">Browse the bookshelf</a> <a
								class="dropdown-item" href="#">Store hours &#38; Directions</a>
							<a class="dropdown-item" href="#">FAQ</a>
						</div></li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text"
						placeholder="Book title..." aria-label="Search" />
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>

				<!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>  -->
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="#">Shopping
							Cart</a></li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/login}" sec:authorize="isAnonymous()">My Account </a></li>
					<li class="nav-item">
						<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/myProfile}">My Account </a></li>
					<li class="nav-item">
						<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout </a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	
	<div th:fragment="body-bottom-scripts">	
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="/js/jquery/jquery1-12-4.min.js"></script>
	    <!-- Placed at the end of the document so the pages load faster -->    
	    <script src="/js/popper.min.js"></script>
	    <script src="/js/bootstrap.min.js"></script> 
    </div>
</body>
</html>