body {

}
.page-top
{
	width: 100%;
	height: 20px;
	background-color: #f46b42;
}
hr
{
	border: none;
	height: 1px;
	color: 	#808080;
	background-color: #808080;

}
.navbar {
  margin-bottom: 20px;
}

.box
{
	border: 5px solid;
	width: 100%;
}
.card-body
{
	padding: 5px;
	margin: 5px;
}

.home-deadline
{
	font-family: 'Times New Roman', Times, serif;
	font-size: 24px;
	color: #fff;
	margin:auto;
	text-align: center;
	margin-top: 13px;
}
.home-deadline span
{
	background-color: #231F20;
	padding: 5px;
}
#featured-books
{
	margin: auto; 
}
.featured-book
{
	margin: 10px;

}

.section-headline
{
	font-family: 'Times New Roman', Times, serif;
	font-size: 24px;
	color: #fff;
	margin:auto;
	text-align: center;
	margin-top: 70px;

}

.section-headline span
{
	background-color: #333;
	padding: 5px 22px;
	border: 2px solid;
}
#img-myaccount-background
{
	margin-top: -85px;
}
#line-myaccount
{
	position: absolute;
	width: 82%;
	height: 6px;
	background-color: #333;
	z-index: -1;
	margin-top: -110px;
	
}

.body-bottom
{
	margin-top: 500px;
}

.in-active
{
	margin-top: 0px;
	border: 2px solid;
}