<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="common/header :: common-header">
  </head>  
<body>
	<div th:replace="common/header :: navbar"></div>    
 	<div class="container"> 		
 		<div class="row" style="margin-bottom: -40px;">  				
 			<div class="col-lg-7"><h2  class="section-headline"><span>User account</span></h2></div>
 			<div class="col-lg-5"><img src="/images/logo.png"  class="img-responsive" /></div>
 		</div>
 		<hr id="line-myaccount"/>	
 		<img class="img-responsive" src="/images/wood.png" id="img-myaccount-background" />
 		<div class="row">
 			<div class="col-lg-5 offset-lg-3">
 				<ul class="nav nav-tabs">
 					<li><a class="nav-item nav-link" href="#tab-1" data-toggle="tab" th:classappend = "${classActiveNewUser}? 'show active'"><span>Create new account</span></a></li>
 					<li><a class="nav-item nav-link" href="#tab-2" data-toggle="tab" th:classappend = "${classActiveLogin}? 'show active'"><span>Log in</span></a></li>
 					<li><a class="nav-item nav-link" href="#tab-3" data-toggle="tab" th:classappend = "${classActiveForgetPassword}? 'show active'"><span>Forget Password</span></a></li>
 				</ul> 				
 				<!-- Tab Panels -->
 				<div class="tab-content">
 					<div class="tab-pane fade" id="tab-1" role="tabpanel" th:classappend = "${classActiveNewUser}? 'show active'">
 						<div class="card">
 							<div class="card-body  in active" style="background-color: #ededed;margin-top:20px;">
 								<div class="alert alert-info" th:if="${emailSent}">An email was sent to you. Please validate it.</div>
 								<form th:action="@{/newUser}" method="post">
 									<div class="form-group">
 										<label for="newUsername">Username:</label>&nbsp;<span style="color:red;" th:if="${usernameExists}">Username already exists.</span>
 										<input required="required" type="text" name="username" class="form-control" id="newUsername" placeholder="Enter Username here..."/>
 									</div>
 									<div class="form-group">
 										<label for="Email">Email:</label> &nbsp;<span style="color:red;" th:if="${emailExists}">Email already exists.</span>
 										<input required="required" type="text" name="email" class="form-control" id="Email" placeholder="Enter email here..."/>
 									</div>
 									<button type="submit" class="btn btn-primary">Create New Account</button>
 								</form> 							
 							</div>
 						</div> 					
 					</div> 				
 				
 					<div class="tab-pane fade" id="tab-2" role="tabpanel" th:classappend = "${classActiveLogin}? 'show active'" >
 						<div class="card">
 							<div class="card-body" style="background-color: #ededed;margin-top:20px;">
 								<div th:if="${param.error != null}" style="color:red;">Incorrect user or password</div>
 								
 								<form  th:action="@{/login}" method="post">
 									<div class="form-group">
 										<label for="username">Username:</label>
 										<input required="required" type="text" name="username" class="form-control" id="username" placeholder="Enter Username here..."/>
 									</div>
 									<div class="form-group">
 										<label for="password">Password:</label>
 										<input required="required" type="text" name="password" class="form-control" id="password" placeholder="Enter password here..."/>
 									</div>
 									<button type="submit" class="btn btn-primary">Login</button>
 								</form> 							
 							</div>
 						</div> 					
 					</div>			
 				
 					<div class="tab-pane fade" id="tab-3" role="tabpanel" th:classappend = "${classActiveForgetPassword}? 'show active'">
 						<div class="card">
 							<div class="card-body" style="background-color: #ededed;margin-top:20px;">
 							<div th:if="${emailNotExists}" class="alert alert-danger">Email does not exists</div>
 							<div th:if="${forgetPasswordEmailSent}" class="alert alert-success">Email Sent</div>
 								<form th:action="@{/forgetPassword}" method="post">
 									<div class="form-group">
 										<label for="email">* Your email</label>
 										<input required="required" type="text" name="email" class="form-control" id="email" placeholder="Enter email here..."/>
 									</div> 									
 									<button type="submit" class="btn btn-primary">Recover</button>
 								</form> 							
 							</div>
 						</div> 					
 					</div>
 				</div>
 			</div>			
 		</div>
 	</div> <!-- End of container --> 	
 	
	<div th:replace="common/header :: body-bottom-scripts"></div>
  </body>
</html>
