<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="common/header :: common-header">
  </head>  
<body>
	<div th:replace="common/header :: navbar"></div>    
 	<div class="container"> 		
 		<div class="row" style="margin-bottom: -40px;">  				
 			<div class="col-lg-7">
 				<h2  class="section-headline">
 					<span th:text="${#strings.toUpperCase(user.username)}"></span>
 				</h2>
 			</div>
 			<div class="col-lg-5"><img src="/images/logo.png"  class="img-responsive" /></div>
 		</div>
 		<hr id="line-myaccount"/>	
 		<img class="img-responsive" src="/images/wood.png" id="img-myaccount-background" />
 		<div class="row">
 			<div class="col-lg-5 offset-lg-3">
 				<ul class="nav nav-tabs">
 					<li><a class="nav-item nav-link" href="#tab-1" data-toggle="tab" th:classappend = "${classActiveEdit}? 'show active'"><span>Edit</span></a></li>
 					<li><a class="nav-item nav-link" href="#tab-2" data-toggle="tab" th:classappend = "${classActiveOrder}? 'show active'"><span>Orders</span></a></li>
 					<li><a class="nav-item nav-link" href="#tab-3" data-toggle="tab" th:classappend = "${classActiveBilling}? 'show active'"><span>Billing</span></a></li>
 					<li><a class="nav-item nav-link" href="#tab-4" data-toggle="tab" th:classappend = "${classActiveShipping}? 'show active'"><span>Shipping</span></a></li>
 				</ul> 				
 				<!-- Tab Panels -->
 				<div class="tab-content">
 					<!-- Edit User information  -->
 					<div class="tab-pane fade" id="tab-1" role="tabpanel" th:classappend = "${classActiveEdit}? 'show active'">
 						<div class="card">
 							<div class="card-body  in active" style="background-color: #ededed;margin-top:20px;">
 								<form th:action="@{/updateUserInfo}" method="post">
 									<input type="hidden" name="id" th:value="${user.id}"/>
 									<div class="bg-info" th:if="${updateUserInfo}">User info updated.</div>
 									<div class="form-group">
 										
 											<div class="col-xs-6">
 												<label for="firstName">First Name</label>
 												<input type="text" class="form-control" 
 														id="firstName" name="firstName" th:value="${user.firstName}"/>
 											</div>
 											<div class="col-xs-6">
 												<label for="lastName">Last Name</label>
 												<input type="text" class="form-control" 
 														id="lastName" name="lastName" th:value="${user.lastName}"/>
 											</div>
 										
 									</div>
 									
 									<div class="form-group">
 										<label for="userName">Username</label>
 										<input type="text" class="form-control" 
 												id="username" name="userName" th:value="${user.username}"/>
 									</div>
 									<div class="form-group">
 										<label for="currentPassword">Current Password</label>
 										<input type="text" class="form-control" 
 												id="currentPassword" name="currentPassword" th:value="${currentPassword}"/>
 									</div>
 									<p style="color:#828282">Enter your current password to change email address or password</p>
 									
 									<div class="form-group">
 										<label for="email">Email address</label>
 										<input type="text" class="form-control" 
 												id="email" name="email" th:value="${user.email}"/>
 									</div>
 									<p style="color:#828282">A valid Email address. All emails from the system will be sent to this address.</p>
 									<div class="form-group">
 										<label for="txtNewPassword">Password</label>
 										<input type="password" class="form-control" 
 												id="newPassword" name="newPassword"/>
 									</div>
 									<div class="form-group">
 										<label for="txtConfirmPassword">Confirm Password</label>
 										<input type="password" class="form-control" 
 												id="txtConfirmPassword"/>
 									</div>
 									<p style="color:#828282">Enter your new password for both fields</p>
 									<button type="submit" class="btn btn-primary">Create New Account</button>
 								</form> 							
 							</div>
 						</div> 					
 					</div> 				
 				
 					
 				
 					
 					
 					
 				</div>
 			</div>			
 		</div>
 	</div> <!-- End of container --> 	
 	
	<div th:replace="common/header :: body-bottom-scripts"></div>
  </body>
</html>
